#root {
	> div {
		left: 7%;
	}
}

main {
	pointer-events: none;

	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;

	header {
		margin: rem(2) 0;
		pointer-events: all;

		> div {
			background-color: $color-primary;
			padding: rem(0.5) 0;
			width: calc(80px + rem(3));
			img {
				margin-left: rem(3);
				cursor: pointer;
			}
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
		> div {
			pointer-events: all;
			width: rem(20);

			.title-container {
				h2 {
					font-style: italic;
					font-size: rem(2);
					font-weight: 900;
					color: $color-light;
				}
				p {
					color: $color-light-darker;
					font-family: 'Barlow Condensed';
					font-size: rem(0.9);

					line-height: 22px;

					margin-top: rem(1);
					margin-bottom: rem(1);
				}
			}
			.grid {
				display: grid;
				grid-gap: rem(1);
				overflow-y: scroll;
				max-height: 60vh;
				hr {
					border: 0;
					border-top: 1px solid $color-dark-lighter;
				}
				.content-container {
					> div {
						&:first-of-type {
							display: flex;
							justify-content: space-between;
							cursor: pointer;
							&::after {
								content: '-';
								font-size: 2.5rem;
								font-weight: 100;
								color: $color-light;
								margin-right: rem(1);
							}
						}
					}
					h3 {
						color: $color-light;
					}
					p {
						color: $color-light-darker;
						font-family: 'Barlow Condensed';
						font-size: rem(0.9);
						margin-top: rem(0.5);
					}
					// &:first-of-type {
					// 	p {
					// 		text-transform: capitalize;
					// 	}
					// }
					&:last-of-type {
						> div {
							&:first-of-type {
								cursor: text;
								&::after {
									all: unset;
								}
							}
						}
					}
					&.active {
						> div {
							&:nth-child(1) {
								&::after {
									content: '+';
								}
							}
							&:nth-child(2) {
								margin-top: rem(1);
								opacity: 1;
							}
						}
					}
					button {
						width: 100%;

						padding: rem(0.5) rem(1);

						border-radius: 4px;

						border: 1px solid $color-dark-lighter;
						&.active {
							border: 1px solid $color-light;
							transition: all 0.2s $ease;
							&:hover {
								border: 1px solid $color-light;
								color: $color-light;
							}
						}
						&:hover {
							transition: all 0.2s $ease;
							border: 1px solid $color-light-darker;
						}

						img {
							margin: auto;
						}
					}
					.flex {
						display: flex;
						justify-content: space-between;
						> p {
							font-weight: 500;
							font-size: 1rem;
							color: $color-light;
							font-family: 'Barlow', sans-serif;
						}
					}
					.color-container {
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						grid-gap: rem(0.5);

						max-height: 0;
						overflow: hidden;
						opacity: 0;
						transition: all 0.4s $ease2;
						button {
							img {
								margin: auto;
							}
						}
					}
					.clearcoat-container {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-gap: rem(1.5);

						max-height: 0;
						overflow: hidden;
						opacity: 0;
						transition: all 0.4s $ease2;
						button {
							color: $color-light-darker;
							font-size: rem(0.8);
							text-align: center;
							&.active {
								border: 1px solid $color-light;
								color: $color-light;
								transition: all 0.2s $ease;
								border: 1px solid $color-light-darker;
							}
						}
					}
					.size-container {
						display: grid;
						grid-template-columns: repeat(6, 1fr);
						grid-gap: rem(0.3);

						max-height: 0;
						overflow: hidden;
						opacity: 0;
						transition: all 0.4s $ease2;
						button {
							color: $color-light-darker;
							font-size: rem(0.8);
							text-align: center;

							&.active {
								border: 1px solid $color-light;
								color: $color-light;
								transition: all 0.2s $ease;
							}
						}
					}
					.total-container {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-gap: rem(1.5);

						margin-top: rem(1);
						button {
							font-size: rem(0.8);
							text-align: center;
							color: $color-light;
							&:first-of-type {
								border: 1px solid $color-light;
								&:hover {
									border: 1px solid $color-light-darker;
								}
							}
							&:last-of-type {
								border: none;
								background-color: $color-primary;
								&:hover {
									transition: all 0.2s $ease;
									background-color: darken($color-primary, 10%);
								}
							}
						}
					}
				}
			}
		}
		.envmap_container {
			display: flex;
			grid-gap: 2rem;
			width: fit-content;
			flex-direction: column;

			button {
				height: rem(4);

				padding: rem(0.5) rem(1);

				border-radius: 4px;

				border: 1px solid $color-dark-lighter;
				color: $color-light-darker;
				font-size: rem(0.8);
				text-align: center;
				&.active {
					border: 1px solid $color-light;
					color: $color-light;
					transition: all 0.2s $ease;
					&:hover {
						border: 1px solid $color-light;
						color: $color-light;
					}
				}
				&:hover {
					transition: all 0.2s $ease;
					border: 1px solid $color-light-darker;
				}
			}
		}
	}
	footer {
		bottom: rem(0.5);
		position: absolute;

		pointer-events: all;

		width: 100%;
		p {
			margin-left: 50%;
			transform: translateX(-50%);

			width: fit-content;

			font-family: 'Barlow Condensed';
			font-style: normal;
			font-weight: 300;
			font-size: rem(0.8);

			color: darken($color-light-darker, 20%);

			a {
				text-decoration: none;
				display: inline-block;
				&:hover {
					text-decoration: underline;
					color: $color-light;
				}
			}
		}
	}
}

.btn {
	&_primary {
		padding: 0.75rem 3rem;
		border-radius: 4px;
		background-color: $color-primary;
		color: $color-light;
		&:hover {
			transition: 0.1s ease-out;
			background-color: darken($color-primary, 10%);
		}
	}
	&_return {
		&:hover {
			transition: 0.1s ease-out;
			background-color: darken($color-light, 10%);
		}
	}
}
