html {
	font-size: $size-default;
	@media (min-width: $from-tiny) and (max-width: $to-small) {
		font-size: $size-tiny;
	}
	@media (min-width: $from-small) and (max-width: $to-medium) {
		font-size: $size-small;
	}
	@media (min-width: $from-medium) and (max-width: $to-large) {
		font-size: $size-medium;
	}
	@media (min-width: $from-large) and (max-width: $to-big) {
		font-size: $size-large;
	}
	@media (min-width: $from-big) and (max-width: $to-huge) {
		font-size: $size-big;
	}
	@media (min-width: $from-huge) and (max-width: $to-enormous) {
		font-size: $size-huge;
	}
	@media (min-width: $from-enormous) and (max-width: $to-gigantic) {
		font-size: $size-enormous;
	}
	@media (min-width: $from-gigantic) and (max-width: $to-colossal) {
		font-size: $size-gigantic;
	}
	@media (min-width: $from-colossal) {
		font-size: $size-colossal;
	}
}

html,
body,
#root {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	outline: none;
	width: 100vw;
	height: 100vh;

	// user-select: none;
	// -webkit-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;

	overscroll-behavior: none;
	font-family: 'Barlow', sans-serif;

	background: $color-bg;
}

.container {
	margin: 0 rem(3);
	@media (max-width: $to-huge) {
		// width: 84vw;
	}
	@media (max-width: $to-big) {
		// width: 90vw;
	}
	@media (max-width: $to-tiny) {
		// width: 92vw;
	}
}

h3 {
	font-weight: 500;
	font-size: rem(1);
}

::-webkit-scrollbar {
	display: none;
}

// ::selection {
// 	background: none;
// 	color: none;
// }
