@import url('https://rsms.me/inter/inter.css');

html,
body,
#root {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	outline: none;
	width: 100vw;
	height: 100vh;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background: radial-gradient(#111111, #2b2b2b);
	font-family: 'Inter var', sans-serif;
	display: flex;
	justify-content: center;
}

.container {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	> div,
	button {
		margin: 0.5rem;
	}
	button {
		background-color: rgb(68, 68, 68);
		color: white;
		text-transform: capitalize;
		border-radius: 5px;
		padding: 0.3rem;
		&:hover {
			background-color: rgb(114, 114, 114);
		}
	}
	.picker {
		// display: block;
		margin: 1rem;
	}
}
