@import url('https://rsms.me/inter/inter.css');

$color-primary: #cd2e2e;
$color-light: #f3f3f3;

html,
body,
#root {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	outline: none;
	width: 100vw;
	height: 100vh;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background: radial-gradient(#111111, #2b2b2b);
	font-family: 'Inter var', sans-serif;
	display: flex;
	justify-content: center;
}

.container {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	> div,
	button {
		margin: 0.5rem;
	}
	.btn {
		padding: 0.75rem 3rem;
		border-radius: 4px;
		&_primary {
			background-color: $color-primary;
			color: $color-light;
			&:hover {
				transition: 0.2s ease-in-out;
				box-shadow: 0px 4px 29px rgba(213, 47, 51, 0.25);
			}
		}
	}
}
.picker {
	// display: block;
	margin: 1rem;
}
.active {
	background-color: #e0e0e0;
	color: #111111;
}
